/*------------------nav bar start---------------------------*/
.about-us{
    position: absolute;
    width: 93px;
    height: 20px;
    left: 377px;
    top: 50px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 97.5%;
    /* identical to box height, or 20px */
    
    text-align: center;
    
    color: #4A4A48;
}

.announcement {
position: absolute;
width: 159px;
height: 20px;
left: 536px;
top: 50px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 97.5%;
/* identical to box height, or 20px */

text-align: center;

color: #4A4A48;
}

.loginsignup {
    position: absolute;
    width: 136px;
    height: 20px;
    left: 900px;
    top: 50px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 97.5%;
    /* identical to box height, or 20px */
    
    text-align: center;
    
    color: #4A4A48;
    
}

.contact {
    position: absolute;
    width: 80px;
    height: 20px;
    left: 759px;
    top: 50px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 97.5%;
    /* identical to box height, or 20px */
    
    text-align: center;
    
    color: #4A4A48;
}

.logo {
position: absolute;
width: 205px;
height: 49px;
left: 52px;
top: 32px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 97.5%;
/* identical to box height, or 49px */

text-align: center;

color: #BB0A21;
}

.donate {
position: absolute;
width: 75px;
height: 20px;
left: 1097px;
top: 50px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 97.5%;
/* identical to box height, or 20px */

text-align: center;

color: #4A4A48;
}

/*------------------------nav bar end-------------------------------------*/

/*----------------------heading---------------------------------------*/
.what-you-give1 {
    color: #BB0A21;
  }

  .you-make-a-container1 {
    position: absolute;
    width: 620px;
    height: 35px;
    left: 373px;
    top: 130px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 97.5%;
    /* or 35px */
    
    text-align: center;
  }


  .become-a-volunteer1 {
    position: absolute;
    width: 323px;
    height: 31px;
    left: 521px;
    top: 186px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 97.5%;
    /* or 31px */
    
    text-align: center;
    
    color: #000000;
    
  }
  .become-a-volunteer-child {
    position: absolute;
width: 350px;
height: 2px;
left: 508px;
top: 220px;

background: #B9B9B9;
  }
/*------------------------------heading end-------------------------------*/

/*---------------------------3 frames-------------------------*/
.become-a-member-item{
    position: absolute;
width: 190px;
height: 300px;
left: 680px;
top: 250px;

background: rgba(185, 185, 185, 0.45);
}
.become-a-member-child1{
position: absolute;
width: 190px;
height: 300px;
left: 886px;
top: 250px;

background: rgba(185, 185, 185, 0.45);
}
.become-a-member-inner{
    position: absolute;
width: 190px;
height: 300px;
left: 1092px;
top: 250px;

background: rgba(185, 185, 185, 0.45);
}
/*---------------3 frames end------------------*/
/*----------------------3 buttons----------------*/
.button1{

    position: absolute;
    width: 113px;
    height: 29px;
    left: 718px;
    top: 500px;
    
}

.button2{

    position: absolute;
    width: 113px;
    height: 29px;
    left: 924px;
    top: 500px;
    
}

.button3{

    position: absolute;
    width: 113px;
    height: 29px;
    left: 1130px;
    top: 500px;
}
/*----------------------3 buttons end----------------*/
/*----------------------3 frame content-------------------*/
.affiliate-membership{
    
position: absolute;
width: 103px;
height: 32px;
left: 929px;
top: 260px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 97.5%;
/* or 16px */

text-align: center;

color: #000000;

}

.ngo-non-profit-membership-container{
position: absolute;
width: 134px;
height: 32px;
left: 708px;
top: 260px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 97.5%;
/* or 16px */

text-align: center;

color: #000000;
}

.individual-membership{
    position: absolute;
width: 103px;
height: 32px;
left: 1135px;
top: 260px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 97.5%;
/* or 16px */

text-align: center;

color: #000000;

}
/*----------------------3 frame content end-------------------*/
/*----------------------3 frame text--------------------------*/
.non-governmental-organizations{
    position: absolute;
width: 172px;
height: 102px;
left: 689px;
top: 330px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 350;
font-size: 10px;
line-height: 17px;
/* or 170% */

text-align: center;

color: #000000;

}

.intergovernmental-bodies-gover-container{
    position: absolute;
width: 157px;
height: 102px;
left: 904px;
top: 330px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 350;
font-size: 10px;
line-height: 17px;
/* or 170% */

text-align: center;

color: #000000;

}

.individuals-who-support{
    position: absolute;
width: 183px;
height: 51px;
left: 1097px;
top: 330px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 350;
font-size: 10px;
line-height: 17px;
/* or 170% */

text-align: center;

color: #000000;

}
/*-----------------------3 frame text end----------------------*/
/*--------------------image----------------------------------*/
.images-5-2{
    position: absolute;
    width: 553px;
    height: 370px;
    left: 80px;
    top: 250px;
}

/*-----------------------image end--------------------------*/
.button-back{
    
position: absolute;
width: 250px;
height: 30px;
left: 836px;
top: 580px;
box-sizing: border-box;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 97.5%;
/* or 23px */

text-align: center;

color: #FFFFFF;

background: #BB0A21;
border: 1px solid #BB0A21;
border-radius: 15px;
}

.become-a-member{
    position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 641px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: 'Montserrat';
}
